section.about#about
  .container.about-container
    h2.about-title О студии
    .about-content
      p.about-text В рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны: высокотехнологичная концепция общественного уклада требует от нас анализа соответствующих условий активизации! Следует отметить, что семантический разбор внешних противодействий  фиксирует необходимость распределения внутренних резервов и ресурсов. Безусловно, граница обучения кадров предоставляет широкие возможности для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает независимые способы реализации новых принципов формирования материально-технической и кадровой базы. Приятно, граждане, наблюдать, как явные признаки институционализации являются только методом политического участия и нарушающими общечеловеческие нормы этики.
      .about-subscribe
        div.about-subscribe-img
        form.about-subscribe-form(action="#")
          h3.about-subscribe-title Подписаться на рассылку
          .about-subscribe-wrapper
            label.about-subscribe-label(for="subscribe")
              input.about-subscribe-input(type="email" placeholder="E-mail" id="subscribe")
              span.about-subscribe-error Недопустимый формат
            button.about-subscribe-btn(type='submit') Отправить
