extends common/layout

block content
  main.main
    block hero
      include includes/hero
    block about
      include includes/about
    block projects
      include includes/projects
    block services
      include includes/services
    block classes
      include includes/classes
    block contacts
      include includes/contacts

